# Ignore everything outside the project
../../../../../../*
../../../../../*
../../../../*
../../../*
../../*
../*

# Build output
**/bin/
**/obj/

# Visual Studio
.vs/
*.user

# Temp/personal files
*.tmp
*.log
